@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600;900&display=swap');
*{margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;}
.wrap{width: 100%}
.box1{
    background-color: #DF1D37;
    height: 80px;}
.sbox1{
    height: 80px;
    background-color: #DF1D37;
    display: flex;
    justify-content: center;
    position: relative;}
.sb1-1{
    position: absolute;
    height: 80px;
    width: 1100px;
    display: flex;
    justify-content: space-between;}
.sb1-2{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-family: 'noto sans kr';
    font-size: 20px;
    font-weight: 300;
    width: 1100px;
    padding-left: 200px;
}
.box2{
    height: 6913px;
    background-color: #f8f8f8;}
.sbox2{
    width: 1100px;
    height: 3817px;
    margin:0 auto;
    position: relative;}
.sb2-1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 90px;}
.sb2-2{
    position: absolute;
    margin-top: 465px;
}
.sb2-3{
    position: absolute;
    margin-top: 1552px;
}
.sb2-4{
    position: absolute;
    margin-top: 2694px;
}
.sb2-5
{position: absolute;
    margin-top: 3781px;
}
.sb2-6{
    position: absolute;
    margin-top: 4868px;
}
.sb2-7{
    position: absolute;
    margin-top: 5955px;
}
.sb2-8{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 1161px;
}
.sb2-9{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 2248px;
}
.sb2-10{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 3390px;
}
.sb2-11{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 4477px;
}
.sb2-12{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 5564px;
}
.sb2-13{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'noto sans kr';
    left: 50%;
    transform: translate(-50%);
    margin-top: 6651px;
}
.box3{
    height: 80px;
    background-color: white;}
.sb3-1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);}